.select {
    text-align: center;
}

.box {
    width: 450px;
    height: 250px;
    background-color: #f2f2f2;
    border: 1px solid #337ab7;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.title {
    margin-top: 10%;
    font-size: large;
    font-weight: 700;
}

.degrees {
    margin-top: 10%;
    font-size: xx-large;
    font-weight: 400;
}

.date {
    margin-top: 10%;
    font-size: large;
    font-weight: 400;
}

.checkboxList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}