.select {
    text-align: center;
}

.box {
    width: 80%;
    height: 150px;
    background-color: #fefefe;
    border: 1px solid #525252;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.boxitem {
    background-color: #f2f2f2;
    width: 23%;
    height: 70px;
    float: left;
    margin: 15px;
    padding-top: 50px;
    overflow: hidden;
    font-size: large;
}

.checkboxList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}